AccessModifierOffset: 0
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 80
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
IncludeBlocks: Regroup
IndentWidth: 4
TabWidth: 4
UseTab: AlignWithSpaces
